.masthead {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  position: relative;
}
.site-logo {
  color: #FFF;
  text-align: center;
  position: relative;
}
.site-logo h1,
.site-logo h2,
.site-logo h3 {
  margin: 0;
  line-height: 100%;
}
.site-logo h1 {
  font-size: 72px;
  line-height: 60px;
  color: #EE4E42;
  text-shadow: 0 1px 0 #FDEECD,
                 0 3px 0 #824E2C;
  font-family: 'Alex Brush', cursive;
  text-align: left;
  padding-left: 5px;
  font-weight: bolder;
  font-style: italic;
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  margin: 5px auto 10px;
}
.site-logo h1 span {
  font-size: 92px;
  padding-left: 65px;
}
.site-logo h2 {
  color: #854D2B;
  font-size: 30px;
  text-shadow: 0 1px 0 #FDEECD,
                 0 3px 0 #F29B81;
  font-style: italic;
}
.site-logo h3 {
  font-size: 18px;
  font-style: italic;
  color: #EE4E42;
  text-transform: uppercase;
}
.x-tag {
  background: #6ABD9A;
  padding: 75px 0;
  position: relative;
  z-index: 5;
}
.x-tag .stripes-holder {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  z-index: -1;
}
.x-tag .stripes-holder .stripe {
  height: 12px;
  background: #FBE5C4;
  margin: 8px 0;
}
.x-tag .tag-holder {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 200px;
  margin: auto;
}
.x-tag .tag-holder:after {
  content: "";
  position: absolute;
  top: -75px;
  left: 150px;
  height: 50px;
  width: 1px;
  background: #51736B;
}
.x-tag .tag {
  background: #FDEECD;
  width: 300px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.x-tag .tag .top,
.x-tag .tag .bottom {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  left: 0;
}
.x-tag .tag .top {
  top: -35px;
  border-width: 0 150px 35px 150px;
  border-color: transparent transparent #FDEECD transparent;
}
.x-tag .tag .bottom {
  bottom: -35px;
  border-width: 35px 150px 0 150px;
  border-color: #FDEECD transparent transparent transparent;
}
.x-tag .tag-dark {
  background: #6ABD9A;
}
.x-tag .tag-dark .top {
  border-color: transparent transparent #6ABD9A transparent;
}
.x-tag .tag-dark .bottom {
  border-color: #6ABD9A transparent transparent transparent;
}
.x-tag .tag-xl {
  width: 306px;
  height: 204px;
  top: -2px;
  left: -3px;
}
.x-tag .tag-xl .top {
  top: -36px;
  border-width: 0 153px 36px 153px;
}
.x-tag .tag-xl .bottom {
  bottom: -36px;
  border-width: 36px 153px 0 153px;
}
.x-tag .tag-xxl {
  width: 310px;
  height: 208px;
  top: -4px;
  left: -5px;
}
.x-tag .tag-xxl .top {
  top: -36px;
  border-width: 0 155px 36px 155px;
}
.x-tag .tag-xxl .bottom {
  bottom: -36px;
  border-width: 36px 155px 0 155px;
}
.x-tag .tag-xxxl {
  width: 316px;
  height: 212px;
  top: -6px;
  left: -8px;
}
.x-tag .tag-xxxl .top {
  top: -37px;
  border-width: 0 158px 37px 158px;
}
.x-tag .tag-xxxl .bottom {
  bottom: -37px;
  border-width: 37px 158px 0 158px;
}
.x-tag .tag-xxxxl {
  width: 320px;
  height: 216px;
  top: -8px;
  left: -10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.x-tag .tag-xxxxl .top {
  top: -37px;
  border-width: 0 160px 37px 160px;
}
.x-tag .tag-xxxxl .top .fancy {
  position: absolute;
  top: -17px;
  left: -7px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border: 2px solid #FDEECD;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.x-tag .tag-xxxxl .top .fancy:before,
.x-tag .tag-xxxxl .top .fancy:after {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  left: 0px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border: 2px solid #FDEECD;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
.x-tag .tag-xxxxl .top .fancy:before {
  -moz-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  transform: rotate(-80deg);
}
.x-tag .tag-xxxxl .top .fancy:after {
  left: -16px;
  top: -2px;
  -moz-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  transform: rotate(80deg);
}
.x-tag .tag-xxxxl .bottom {
  bottom: -37px;
  border-width: 37px 160px 0 160px;
}
.x-tag .tag-xxxxl .bottom .fancy {
  position: absolute;
  top: 0;
  left: -7px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border: 2px solid #FDEECD;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  -moz-transform: rotate(-319deg);
  -webkit-transform: rotate(-319deg);
  transform: rotate(-319deg);
}
.x-tag .tag-xxxxl .bottom .fancy:before,
.x-tag .tag-xxxxl .bottom .fancy:after {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  left: 0px;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border: 2px solid #FDEECD;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
.x-tag .tag-xxxxl .bottom .fancy:before {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.x-tag .tag-xxxxl .bottom .fancy:after {
  left: -16px;
  top: -2px;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -155px;
  /* the bottom margin is the negative value of the footer's height */
}
.footer,
.push {
  height: 155px;
  /* .push must be the same height as .footer */
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.display-script {
  font-family: 'Rouge Script', cursive;
}
.section-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px 0 40px;
  color: #FFF;
}
.section-header .glyphicon {
  font-size: 12px;
  color: #FFF;
  text-shadow: none;
  vertical-align: middle;
}
.container.container-sm {
  max-width: 960px;
}
.event-setup {
  background: #B82828;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-color: #e8e8e8;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  background-color: #357ebd;
}
.navbar-default {
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #3071a9;
  background-image: -webkit-linear-gradient(top, #428bca 0%, #3278b3 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3278b3', GradientType=0);
  border-color: #3278b3;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffc4e3f3', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}
.footer {
  background: #1D1B1B;
  color: #FFF;
  text-align: center;
}
.footer .social-links a {
  color: #FFF;
  font-size: 18px;
  padding: 20px;
}
.well-solid {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
